$menuWidth : 23%;
$menuHeight : 100%;

ul {
	list-style-type: none;
	overflow-y:auto;
	height:100%;
}
.bugObject {
	border: 1px solid black;
	cursor:pointer;
	font-family: "Times New Roman", Times, serif;
	width: 85%;
}

.left-menu {
	max-height:$menuHeight;
	position:fixed;
	max-width:$menuWidth;
	width:$menuWidth;
	.bug, .project{
		cursor:pointer;
		padding-left: 10px;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:10px;
	}
}



.bug {
	.bugID {
		text-align: center;
	}
}
.bug:hover {
	color:#1EA1DB;
	border-color:#1EA1DB;
	border:1px solid;
}

.bugView, .projectView {
	left: $menuWidth + 2%;
	top: 0;
	position:absolute;
}

.filter {
	input {
		margin-left:15px;
		margin-top:10px;
	}
}



















.bugObject2:hover {
	border: 1px solid black;
}
.edit{
	padding: 5px;
	margin-bottom: 10px;
}
.container { 
	height: 90%;
	width:100%;
	padding : 5px;
	margin-top : 50px;
	box-shadow : 0 4px 10px #777;

}
.styling{
	border-bottom: 1px solid black;
}
.comment {
	box-shadow : 0 4px 10px #777;
}
.view {
	overflow-y:auto;
	height: 100%;
}

.Unread {

}
.WIP {
	background-color:#FAEBCC;
}
.Complete {
	background-color:#D6E9C6;
}
.Scrapped {
	background-color:#F2DEDE;
}
.OnHold {
	background-color:#9370DB;
}