$menuWidth : 23%;
$menuHeight : 100%;

body {
	font-size:1.2em;
}

hr {
	margin:0px;
}

.container { 
	height: 90%;
	width:100%;
	padding : 15px;
	margin-left: $menuWidth + 5%;
	margin-top:25px;

}

ul {
	list-style-type: none;
	overflow-y:auto;
	height:100%;
}
.bugObject {
	border: 1px solid black;
	cursor:pointer;
	font-family: "Times New Roman", Times, serif;
	width: 85%;
}

.left-menu {
	max-height:$menuHeight;
	position:fixed;
	max-width:$menuWidth;
	width:$menuWidth;
	.bug, .project{
		cursor:pointer;
		padding-left: 10px;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:10px;
	}
}

.bug {
	.bugID {
		text-align: center;
	}
}
.bug:hover {
	color:#1EA1DB;
	border-color:#1EA1DB;
	border:1px solid;
}

.bugView, .projectView {
	left: $menuWidth + 2%;
	top: 0;
	padding:20px;
}

.bugView {
	.description {
		height:25%;
	}
}

.filter {
	input {
		margin-left:15px;
		margin-top:10px;
	}
}
$commentMargin : 15px;
.commentHolder {
	.comment {
		box-shadow : 0 4px 10px #777;
		margin-top:$commentMargin;
		margin-bottom: $commentMargin;
		padding:3px;
	}
	max-height:30%;
	overflow-y:auto;
}

*{
  font-family:'VT323';
}
.tag
{
  display:inline-block;
  box-sizing:border-box;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:5px;
  border-radius:5px;
  box-shadow:0px 4px 10px #333;
  min-width:45px;
  color:#fff;
  background-color:#777;
  text-align:center;
  font-weight:bold;
  margin-right:4px;
  margin-top:12px;
  margin-bottom: 12px;
}
.tag i {
  cursor:pointer;
}
.in-tag{
  padding:5px;
  color:#FFF;
  border-radius:10%;
  margin-right:2px;
  font-size:0.9em;
}
.blue{
  background-color:#4D8FFC;
}
.red {
  background-color:#FF4500
}

.Unread {

}
.WIP {
	background-color:#FAEBCC;
}
.Complete {
	background-color:#D6E9C6;
}
.Scrapped {
	background-color:#F2DEDE;
}
.OnHold {
	background-color:#9370DB;
}

#description {
	width:100%;
	max-width:100%;
	height:100%;
	max-height:30%;
}
select {
	margin-bottom:0;
}